name: GitHub Actions Demo
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: pwd
    - run: ls -la
    - name: Print Hello World
      run: echo "Hello, World!"
    - name: Check Node.js version
      run: node -v
